flask
flask-socketio
flask-cors
eventlet
gunicorn
quill-delta
Flask-SQLAlchemy
google-generativeai
pyjwt
psycopg2
lxml
cssutils
pgvector
textract
pdfminer
setuptools
Pillow
beautifulsoup4
fuzzywuzzy
anthropic
pydantic
python-Levenshtein
Flask-Migrate