/* frontend/src/styles/mainApp.css */
.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    font-family: 'Arial', sans-serif;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.container {
    width: 100%; /* Make the container take the full width */
    max-width: 100%; /* Remove any max-width limitations */
    margin: 0; /* Remove default margins */
    padding: 20px; /* Add padding to the container */
    box-sizing: border-box; /* Include padding in the container's width */
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    flex-grow: 1;
    margin-left: 20px;
}

.document-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%; /* Ensure the grid takes up the full width of its container */
    box-sizing: border-box;
}

.document-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    height: 350px;
}

.document-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.document-preview {
    flex: 1;
    background-color: #e0e0e0;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    overflow: hidden;
}

.preview-image {
    /* Placeholder for document preview - replace with actual preview logic */
    width: 80%;
    height: 80%;
    background-color: #d0d0d0;
}

.document-info {
    padding: 15px;
}

.document-item h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.document-item p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #555;
}

.document-collaborators {
    margin-top: 10px;
}

.collaborators-list {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #777;
}

.create-new-document-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.create-new-document-button:hover {
    background-color: #0056b3;
}

.loading,
.error {
    text-align: center;
    margin-top: 20px;
}

.error {
    color: red;
}